.git
.gitignore
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/node_modules/
backend/venv/
mobile/node_modules/
frontend/node_modules/
.env
deploy/app.env
backend/.env
README_TEST.md
